In [5]:
import pandas as pd 

data = {'Name': ['sangram ', 'ishaan' , 'chirag ', 'manish'],
          'Marks' : ['60' , '50' , '30' , '20' ] }

df = pd.DataFrame(data)

print(df)

       Name Marks
0  sangram     60
1    ishaan    50
2   chirag     30
3    manish    20